h1 {
    text-decoration: underline;
}

.blue {
    color: blue;
}

.yellow {
    color: rgb(182, 182, 12);
}

.background {
    color: rgb(143, 14, 14);
    background-color: yellow;
}

.bold {
    font-weight: 900;
}

.red {
    color: red;
}

